body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#Maps{
    background: red;
}

#Random{
    background: red;

}
.container{
    margin-top: 150px;

}
.row{

    min-height: 20px;
    padding: 25px;
}
.row div{
    padding: 25px;
    background: #4F4F4F;


}
.btn-primary.custom-file-control:before, .btn.btn-primary {
  color: white;
  background-color: #800000;
  border-color: #ccc;
  margin: 2%;
}

#map {
    height: 700px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

#fab {
    background: #800000;
    bottom: 10px;
    color: white;
    position: fixed;
    right: 10px;
    z-index: 999;
}

#fab:active {
    opacity: 0.8;
    transform: translateY(2px);
}


.collapsible {
  background-color: #777;
  margin-bottom: 2rem;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}
#foodText{
  margin  : 0%;
  color: white;
  font-size: 0.75rem;
}
.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.img-fluid, .img-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  100px;
  height: 100px;
  object-fit:scale-down;
}


.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  overflow-y:scroll;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}



.flex-cont{
  border-bottom: 2px solid black;
}
/*
modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
